<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653986552375-iok02j6br427ago6b9jqfengnu41tl6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653986552375-iok02j6br427ago6b9jqfengnu41tl6a</string>
	<key>API_KEY</key>
	<string>AIzaSyAtjO9Em6nWP7g0--HFcBJnXj6TndX9rh8</string>
	<key>GCM_SENDER_ID</key>
	<string>653986552375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sattdima34-gmail.FirebaseToDo</string>
	<key>PROJECT_ID</key>
	<string>fir-todo-904d0</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-todo-904d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653986552375:ios:dc15d08a0f56bf036e3db2</string>
</dict>
</plist>